.answer-btn {
    background: linear-gradient(rgb(123, 49, 167), rgba(150, 88, 64, 0.712));
    border-radius: 3px;
    box-shadow: 0px 3px rgba(189, 189, 189, 0.4);
    outline: 0px;
    border: 0px;
    font-size: 1.1rem;
    padding: 18px 0;
}