.score-bar {
    background: rgb(255, 255, 255);
    padding: 0.7rem 1.4rem;
    border-radius: 12px;
    box-shadow: 0px 5px rgba(201, 201, 201, 0.2);
    border: 2px solid rgba(170, 170, 170, 0.2);
}

